/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import '/src/css/footer.css';
@import '/src/css/footer-students.css';
@import '/src/css/headers.css';
@import '/src/css/hero.css';
@import '/src/css/library-gallery.css';
@import '/src/css/back-to-top.css';


:root {
  --font-family: 'Roboto', sans-serif;
  --color-red: #ff001b;
  --color-orange: #ff6b01;
  --color-white: #fff;
}

* {
  font-family: var(--font-family);
}
