<section class="team">
    <div class="container">
        <h2 class="team-text">Team "Ojcze Święty"</h2>
        <ul class="team-list">
            <li class="team-member">
                <img src="/src/images/Tobiasz_Tończyk.jpg" alt="img_Tobiasz" width="264" height="260">
                <div class="member-names">
                    <h3 class="team-header-list">Tobiasz Tończyk</h3>
                    <p class="header-text">Team Leader / Fullstack Developer</p>

                </div>
            </li>
            <li class="team-member">
                <img src="/src/images/Klaudia_Kowalska.jpg" alt="img_Klaudia" width="264" height="260">
                <div class="member-names">
                    <h3 class="team-header-list">Klaudia Kowalska</h3>
                    <p class="header-text">Scrum Master / Fullstack Developer</p>

                </div>
            </li>
            <li class="team-member">
                <img src="/src/images/Marta_Majnusz.jpg" alt="img_Marta" width="264" height="260">
                <div class="member-names">
                    <h3 class="team-header-list">Marta Majnusz</h3>
                    <p class="header-text">Fullstack Developer</p>

                </div>
            </li>
            <li class="team-member">
                <img src="/src/images/Katarzyna_Łada.jpg" alt="img_Kasia" width="264" height="260">
                <div class="member-names">
                    <h3 class="team-header-list">Katarzyna Łada</h3>
                    <p class="header-text">Fullstack Developer</p>

                </div>
            </li>
            <li class="team-member">
                <img src="/src/images/Bartosz_Bielecki.jpg" alt="img_Bartosz" width="264" height="260">
                <div class="member-names">
                    <h3 class="team-header-list">Bartosz Bielecki</h3>
                    <p class="header-text">Fullstack Developer</p>

                </div>
            </li>
            <li class="team-member">
                <img src="/src/images/Konrad_Konik.jpg" alt="img_Konrad" width="264" height="260">
                <div class="member-names">
                    <h3 class="team-header-list">Konrad Konik</h3>
                    <p class="header-text">Fullstack Developer</p>

                </div>
            </li>
            <li class="team-member">
                <img src="/src/images/Mateusz_Glock.jpg" alt="img_Mateusz" width="264" height="260">
                <div class="member-names">
                    <h3 class="team-header-list">Mateusz Glock</h3>
                    <p class="header-text">Fullstack Developer</p>

                </div>
            </li>
            <li class="team-member">
                <img src="/src/images/Piotr_Frontczak.jpg" alt="img_Piotr" width="264" height="260">
                <div class="member-names">
                    <h3 class="team-header-list">Piotr Frontczak</h3>
                    <p class="header-text">Fullstack Developer</p>

                </div>
            </li>
        </ul>
    </div>
</section>