<section class="team">
  <link rel="stylesheet" href="/src/css/footer.css" />
  <div class="container">
    <h2 class="team-text">Team "Cruella drive: nieśmieszne pulpety z ośmiornicy na diunach"</h2>
    <ul class="team-list">
      <li class="team-member">
        <img src="/src/images/team/TobiaszTonczyk.jpg" class="img" alt="img_Tobiasz" width="264" height="260" />
        <div class="member-names">
          <h3 class="team-header-list">Tobiasz Tończyk</h3>
          <p class="header-text">Team Leader / Fullstack Developer</p>
        </div>
      </li>
      <li class="team-member">
        <img
          src="/src/images/team/KlaudiaKowalska.jpg"
          class="img"
          alt="img_Klaudia"
          width="264"
          height="260"
        />
        <div class="member-names">
          <h3 class="team-header-list">Klaudia Kowalska</h3>
          <p class="header-text">Scrum Master / Fullstack Developer</p>
        </div>
      </li>
      <li class="team-member">
        <img src="/src/images/team/MartaMajnusz.jpg" class="img" alt="img_Marta" width="264" height="260" />
        <div class="member-names">
          <h3 class="team-header-list">Marta Majnusz</h3>
          <p class="header-text">Fullstack Developer</p>
        </div>
      </li>
      <li class="team-member">
        <img src="/src/images/team/KasiaLada.jpg" class="img" alt="img_Kasia" width="264" height="260" />
        <div class="member-names">
          <h3 class="team-header-list">Katarzyna Łada</h3>
          <p class="header-text">Fullstack Developer</p>
        </div>
      </li>
      <li class="team-member">
        <img
          src="/src/images/team/BartoszBielecki.jpg"
          class="img"
          alt="img_Bartosz"
          width="264"
          height="260"
        />
        <div class="member-names">
          <h3 class="team-header-list">Bartosz Bielecki</h3>
          <p class="header-text">Fullstack Developer</p>
        </div>
      </li>
      <li class="team-member">
        <img src="/src/images/team/KonradKonik.jpg" class="img" alt="img_Konrad" width="264" height="260" />
        <div class="member-names">
          <h3 class="team-header-list">Konrad Konik</h3>
          <p class="header-text">Fullstack Developer</p>
        </div>
      </li>
      <li class="team-member">
        <img src="/src/images/team/MateuszGlock.jpg" class="img" alt="img_Mateusz" width="264" height="260" />
        <div class="member-names">
          <h3 class="team-header-list">Mateusz Glock</h3>
          <p class="header-text">Fullstack Developer</p>
        </div>
      </li>
      <li class="team-member">
        <img src="/src/images/team/PiotrFrontczak.jpg" class="img" alt="img_Piotr" width="264" height="260" />
        <div class="member-names">
          <h3 class="team-header-list">Piotr Frontczak</h3>
          <p class="header-text">Fullstack Developer</p>
        </div>
      </li>
    </ul>
  </div>
</section>
