<footer class="page-footer">
    <div class="footer container">
        <div class="container-footer">
            <p class="footer-text">
                © 2024 | All Rights Reserved | Developed with
                <svg class="heart" viewBox="0 0 32 29.6">
                    <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                      c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
                </svg>
                by
                <a class="footer-text footer-link" href="/src/partials/footer-students.html"><span>GoIT Students</span>
                </a>
            </p>
        </div>
    </div>
</footer>
<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <section class="team">
            <h2 class="team-text">Team "Cruella drive: nieśmieszne pulpety z ośmiornicy na diunach"</h2>
            <ul class="team-list">
                <li class="team-member">
                    <img src="/src/images/team/TobiaszTonczyk.jpg" alt="img_Tobiasz" width="264" height="260" />
                    <div class="member-names">
                        <h3 class="team-header-list">Tobiasz Tończyk</h3>
                        <p class="header-text">Team Leader / Fullstack Developer</p>
                    </div>
                </li>
                <li class="team-member">
                    <img src="/src/images/team/KlaudiaKowalska.jpg" alt="img_Klaudia" width="264" height="260" />
                    <div class="member-names">
                        <h3 class="team-header-list">Klaudia Kowalska</h3>
                        <p class="header-text">Scrum Master / Fullstack Developer</p>
                    </div>
                </li>
                <li class="team-member">
                    <img src="/src/images/team/MartaMajnusz.jpg" alt="img_Marta" width="264" height="260" />
                    <div class="member-names">
                        <h3 class="team-header-list">Marta Majnusz</h3>
                        <p class="header-text">Fullstack Developer</p>
                    </div>
                </li>
                <li class="team-member">
                    <img src="/src/images/team/KasiaLada.jpg" alt="img_Kasia" width="264" height="260" />
                    <div class="member-names">
                        <h3 class="team-header-list">Katarzyna Łada</h3>
                        <p class="header-text">Fullstack Developer</p>
                    </div>
                </li>
                <li class="team-member">
                    <img src="/src/images/team/BartoszBielecki.jpg" alt="img_Bartosz" width="264" height="260" />
                    <div class="member-names">
                        <h3 class="team-header-list">Bartosz Bielecki</h3>
                        <p class="header-text">Fullstack Developer</p>
                    </div>
                </li>
                <li class="team-member">
                    <img src="/src/images/team/KonradKonik.jpg" alt="img_Konrad" width="264" height="260" />
                    <div class="member-names">
                        <h3 class="team-header-list">Konrad Konik</h3>
                        <p class="header-text">Fullstack Developer</p>
                    </div>
                </li>
                <li class="team-member">
                    <img src="/src/images/team/MateuszGlock.jpg" alt="img_Mateusz" width="264" height="260" />
                    <div class="member-names">
                        <h3 class="team-header-list">Mateusz Glock</h3>
                        <p class="header-text">Fullstack Developer</p>
                    </div>
                </li>
                <li class="team-member">
                    <img src="/src/images/team/PiotrFrontczak.jpg" alt="img_Piotr" width="264" height="260" />
                    <div class="member-names">
                        <h3 class="team-header-list">Piotr Frontczak</h3>
                        <p class="header-text">Fullstack Developer</p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
</footer>

