<div>
  <ul class="cards-list" id="cards-list">
    <!--cards-list -->
  </ul>
</div>

<!-- Paginacja Początek -->
<div id="pagination-new" class="pagination-new">
  <button id="pagination-btn-left" type="button" class="pagination-new-button-first" data-page="0">
    <svg width="16" height="16" class="pagination-new-icon">
      <use href="./images/icons.svg#icon-arrow-right"></use>
    </svg>
  </button>
  <ul id="pagination-new-list" class="pagination-new-list">
    <!--pagination-new -->
  </ul>
    <button id="pagination-btn-right" type="button" class="pagination-new-button-last" data-page="0">
    <svg width="16" height="16" class="pagination-new-icon">
      <use href="./images/icons.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>
<!-- Paginacja Koniec -->
  <div class="loader" style="display: none"></div>
  <!-- <div class="gallery" id="gallery">

  </div> -->
  <!-- <section>
    <ul id="cards-list" class="cards-list">
      <li>
        <div class="card">
          <div class="card-img"></div>
          <div class="card-text">
            <p class="card-text-title"></p>
            <p class="card-text-genre"></p>
          </div>

<div class="loader"></div>
<div class="gallery" id="gallery">
  <!-- Galeria obrazów -->
</div>
<section>
  <ul id="cards-list" class="cards-list">
    <li>
      <div class="card">
        <div class="card-img"></div>
        <div class="card-text">
          <p class="card-text-title"></p>
          <p class="card-text-genre"></p>
        </div>
      </li>
    </ul>
  </section> -->
</div>
