<header id="library-header">
  <nav>
    <span id="logo">
      <a href="index.html"
        ><svg width="24px" height="24px">
        <use href="./images/icons.svg#icon-film"></use>
      </svg><span>Filmoteka</span></a
      ></span
    >
    <ul id="nav-menu">
      <li><a href="index.html" class="link-menu">Home</a></li>
      <li><a href="my-library.html" class="link-menu active-link-menu">My library</li>
    </ul>
  </nav>
  <div class="btns-container">
    <button class="watch-btn library-btn-active">Watched</button>
    <button class="queue-btn">Queue</button>
  </div>
</header>
