.movie-list {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around;
	padding: 20px; */
    gap: 32px 32px;
  margin: 20px 20px 40px;
  }
  
  .movie-card {
	/* margin: 10px;
	width: 100%;  */
    width: 280px;
    height: 443px;
    margin-bottom: 20px;
  }
  
 
  @media (min-width: 768px) {
	.movie-card {
	  width: calc(50% - 20px); 
	}
  }
  

  @media (min-width: 1024px) {
	.movie-card {
	  width: calc(33.33% - 20px); 
	}
  }